name: Unit Tests - No Conda

on:
  push:
    branches:
      - 'release'
      - 'development'
  pull_request:
    branches:
      - '*'

jobs:
  Test-Package:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11",]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set Up Python Ubuntu
        uses: actions/setup-python@v4
        if: matrix.os ==  'ubuntu-latest'
        with:
          python-version: ${{ matrix.python-version }}

      - name: Apt Package Cache Update
        if: matrix.os ==  'ubuntu-latest'
        run: sudo apt-get update

      - name: Install GDAL Ubuntu
        if: matrix.os ==  'ubuntu-latest'
        run: |
          sudo apt-get install gdal-bin libgdal-dev
          echo "CPLUS_INCLUDE_PATH=/usr/include/gdal" >> $GITHUB_ENV
          echo "C_INCLUDE_PATH=/usr/include/gdal" >> $GITHUB_ENV
          ogrversion=`ogrinfo --version | grep -oP "\d+\.\d+\.\d+"`
          echo "OGRVERSION=$ogrversion" >> $GITHUB_ENV

      - name: Install Dependencies Ubuntu
        if: matrix.os ==  'ubuntu-latest'
        run: |
          python -m pip install --upgrade pip
          python -m pip install 'gdal==${{ env.OGRVERSION }}'
          python -m pip install -r requirements.txt


      - name: Test with Pytest
        if: matrix.os ==  'ubuntu-latest'
        shell: bash -el {0}
        run: pytest
